@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

/* Instrument Serif */
.instrument-serifs {
    font-family: "Instrument Serif", serif;
    font-style: normal;
    font-size: 7rem;
}


.faq-colors {
    color: rgb(212, 0, 255);
}